@charset "UTF-8";

/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html,
body {
  font-family: system-ui, sans-serif;
  scroll-behavior: smooth;
  height: auto;
  min-height: 100%;
  overflow-y: scroll;
  /* Siempre mostrar la barra de desplazamiento vertical */
  overflow-x: hidden;
  /* Ocultar la barra de desplazamiento horizontal si no es necesaria */
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}


a {
  text-decoration: none !important;
  color: black !important;
  font-weight: 550 !important;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* title text-wrap balanced */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balanced;
}

/* max-width 65 characters & text-wrap pretty*/
p,
li,
figcaption {
  text-wrap: pretty;
}

/* container-type_ inline-size */
header,
footer,
main,
section,
article {
  container-type: inline-size;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: "Abel Pro";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Abel Pro"), url("../fonts/abel_pro/woff2/abel_pro.woff2") format("woff2"), url("../fonts/abel_pro/woff/abel_pro.woff") format("woff");
}

@font-face {
  font-family: "Abel Pro";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("Abel Pro"), url("../fonts/abel_pro/woff2/abel_pro_bold.woff2") format("woff2"), url("../fonts/abel_pro/woff/abel_pro_bold.woff") format("woff");
}

@font-face {
  font-family: "Terminal Dosis";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Terminal Dosis"), url("../fonts/terminal-dosis/woff2/terminal-dosis.regular.woff2") format("woff2"), url("../fonts/terminal-dosis/woff/terminal-dosis.regular.woff") format("woff");
}

@font-face {
  font-family: "Terminal Dosis";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("Terminal Dosis"), url("../fonts/terminal-dosis/woff2/terminal-dosis.bold.woff2") format("woff2"), url("../fonts/terminal-dosis/woff/terminal-dosis.bold.woff") format("woff");
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  min-height: 100dvh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0;
  padding: 0;
  font-family: "Abel Pro", sans-serif;
  font-size: 1.125rem;
  line-height: 1.8202882373rem;
  color: hsl(0, 0%, 46%);
  background-color: hsl(0, 0%, 100%);
}

p,
a {
  font-size: 1.125rem;
  line-height: 1.8202882373rem;
  text-decoration: none;
  color: currentColor;
}

p {
  color: hsl(0, 0%, 13%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: hsl(0, 0%, 13%);
  font-family: "Terminal Dosis", sans-serif;
}

h2 {
  font-size: 3rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.0625rem;
  line-height: 1;
  text-transform: capitalize;
}

.hidden {
  display: none !important;
}

button {
  border: none;
  background-color: ghostwhite;
  padding: 0.5rem;
  cursor: pointer;
  -webkit-transition: background-color 250ms ease-in;
  transition: background-color 250ms ease-in;
}

button:hover {
  background-color: rgb(222.5, 222.5, 255);
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-display: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Terminal Dosis", sans-serif;
  font-size: 1.5rem;
  line-height: 2.4270509831rem;
  color: white !important;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #000;
  padding: 0.75rem 2rem;
  overflow: hidden;
  border-radius: 100vw;
  border: none;
  -webkit-transition: color 250ms ease-out;
  transition: color 250ms ease-out;
  z-index: 0;
  position: relative;
}

.button::after {
  position: absolute;
  content: "";
  inset: 0 -1rem 0 -1rem;
  background-color: white;
  z-index: -1;
  -webkit-transform: skewX(-45deg) translateX(-105%);
  -ms-transform: skewX(-45deg) translateX(-105%);
  transform: skewX(-45deg) translateX(-105%);
  -webkit-transition: -webkit-transform 250ms ease-out;
  transition: -webkit-transform 250ms ease-out;
  transition: transform 250ms ease-out;
  transition: transform 250ms ease-out, -webkit-transform 250ms ease-out;
}

.button:hover {
  color: #000 !important;
}

.button:hover::after {
  -webkit-transform: skewX(-45deg) translateX(0);
  -ms-transform: skewX(-45deg) translateX(0);
  transform: skewX(-45deg) translateX(0);
}

.contactbar {
  width: 100%;
  background-color: #d4d7d9;
  border-bottom: 1px solid #333;
  max-height: 3rem;
}

.contactbar__wrapper {
  margin: 0 auto;
  width: min(75rem, 100%);
  background-color: #d4d7d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contactbar__wrapper a {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #333;
  font-size: 0.938rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.25rem 0.5rem;
}

.contactbar__wrapper a svg {
  margin-right: 0.5rem;
}

@media screen and (max-width: 768px) {
  .contactbar__wrapper a {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-block: 0.7rem;
  }

  .contactbar__wrapper a span {
    display: none;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 850px;
  max-height: 850px;
  height: 850px;
  background-color: #d9d9d9;
  color: #000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  position: relative;
}

.hero__whatsapp {
  position: absolute;
  bottom: 1.5rem;
  right: 15em;
  width: 3rem;
  aspect-ratio: 1/1;
  padding: 0;
  -webkit-transform: scale(1) translateX(0) translateY(0);
  -ms-transform: scale(1) translateX(0) translateY(0);
  transform: scale(1) translateX(0) translateY(0);
  -webkit-transition: -webkit-transform 300ms ease, -webkit-filter 300ms ease;
  transition: -webkit-transform 300ms ease, -webkit-filter 300ms ease;
  transition: transform 300ms ease, filter 300ms ease;
  transition: transform 300ms ease, filter 300ms ease, -webkit-transform 300ms ease, -webkit-filter 300ms ease;
  -webkit-filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
  z-index: 9999;
}

.hero__whatsapp:hover {
  -webkit-transform: scale(1.5) translateX(5px) translateY(-5px);
  -ms-transform: scale(1.5) translateX(5px) translateY(-5px);
  transform: scale(1.5) translateX(5px) translateY(-5px);
  -webkit-filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.3));
}

.hero__whatsapp svg {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
  object-fit: scale-down;
  -o-object-position: center;
  object-position: center;
}

.hero__barra {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
  height: 120px;
  background-color: #C49F5C;
}

.hero__barra-firma {
  margin: 0 auto;
  width: min(75rem, 100%);
  height: 100%;
  padding-block: 1.5rem;
}

.hero__barra-firma svg {
  margin-left: 24rem;
  color: white;
  height: 100%;
  width: auto;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}

.hero__wrapper {
  width: min(75rem, 100%);
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  position: relative;
}

.hero__wrapper * {
  color: #000;
}

.hero__content {
  content: "";
  position: absolute;
  top: 0;
  bottom: 200px;
  left: 12rem;
  width: 21rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hero__content-logo {
  width: 100%;
  padding-inline: 0.5rem;
}

.hero__content-logo svg {
  width: 100%;
  height: auto;
}

.hero__content-logo h1 {
  display: none;
}

.hero__content-text {
  padding-top: 4rem;
  text-align: center;
}

.hero__content-text h2 {
  font-family: "Abel Pro", sans-serif;
  font-size: 2.9rem;
  padding-bottom: 3rem;
  position: relative;
}

.hero__content-text h2::after {
  content: "";
  position: absolute;
  inset: 0 0 1rem 0;
  -webkit-transform: scaleX(60%);
  -ms-transform: scaleX(60%);
  transform: scaleX(60%);
  border-bottom: 2px solid black;
}

.hero__content-text p {
  font-family: "Abel Pro", sans-serif;
  font-size: 1.6rem;
  color: #555;
}

.hero__man {
  content: "";
  position: absolute;
  bottom: 0;
  left: 12rem;
  height: 230px;
}

.hero__man img {
  width: 100%;
  height: 100%;
}

.hero__woman {
  content: "";
  position: absolute;
  bottom: 40px;
  top: 0;
  right: 0;
}

.hero__woman img {
  width: 100% !important;
  height: 100%;
}

.hero__cta {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 1.5rem;
  padding-block: 0.5rem;
}

.header {
  background-color: white;
  color: #333;
  border-bottom: 1px solid #333;
}

.header h1 {
  display: none;
}

.header__wrapper {
  margin: 0 auto;
  width: min(100%, 75rem);
  height: 5rem;
  padding-block: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap !important;

  .row {
    flex-wrap: nowrap !important;
  }

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.header__left,
.header__right {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
}

.header__left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.header__right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-block: 1rem;
}

.header__brand {
  display: block;
  height: 100%;
}

.header__brand span {
  display: none;
}

.header__brand svg {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
  object-fit: scale-down;
  -o-object-position: center;
  object-position: center;
}

.header__firma {
  height: 100%;
  padding-block: 0.75rem;
  -webkit-padding-start: 4rem;
  padding-inline-start: 4rem;
}

.header__firma svg {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
  object-fit: scale-down;
  -o-object-position: center;
  object-position: center;
}

.main {
  width: 100%;
  padding: 0;
  margin: 0;
}

.logo {
  font-size: 3rem;
  line-height: 4.2473392205rem;
  margin-bottom: 3rem;
}

.logo__pb-1 {
  display: block;
  margin-bottom: 0rem;
}

.logo__bold {
  font-weight: bold;
}

.logo__center {
  text-align: center;
}

.logo__texto {
  font-family: "Terminal Dosis", sans-serif;
  font-weight: bold;
  color: inherit;
  position: relative;
  display: inline-block;
}

.logo__texto-stars {
  position: relative;
  display: inline-block;
}

.logo__texto-stars-svg {
  display: block;
  position: absolute;
  bottom: 2.5rem;
  right: -1rem;
  color: inherit;
  width: 3rem;
}

.logo__texto-stars-svg svg {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.mobile-menu {
  position: fixed;
  inset: 0 0 0 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: background-color 250ms ease-in-out, -webkit-transform 250ms ease-out;
  transition: background-color 250ms ease-in-out, -webkit-transform 250ms ease-out;
  transition: transform 250ms ease-out, background-color 250ms ease-in-out;
  transition: transform 250ms ease-out, background-color 250ms ease-in-out, -webkit-transform 250ms ease-out;
  z-index: 999;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.mobile-menu__wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: rgba(209, 209, 209, 0.9);
  width: min(100%, 570px);
  padding-block: 3rem;
  padding-left: 3rem;
  padding-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.mobile-menu__header {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  position: relative;
  border-bottom: 5px solid #666;
}

.mobile-menu__header::after {
  position: absolute;
  content: "";
  padding-bottom: 1rem;
  inset: 0 8rem 0 0;
}

.mobile-menu__header h1 {
  font-family: "Terminal Dosis", sans-serif;
  font-size: 2.625rem;
  font-weight: bold;
  text-transform: uppercase;
}

.mobile-menu__close-button {
  position: absolute;
  top: -1.3rem;
  right: 0;
  width: 3.5rem;
  padding: 0.75rem;
  aspect-ratio: 1/1;
  cursor: pointer;
  border-radius: 100vw;
  border: 4px solid black;
  -webkit-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
}

.mobile-menu__close-button:hover {
  background-color: #C0A65F;
}

.mobile-menu__close-button svg {
  color: #666;
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
  object-fit: scale-down;
  -o-object-position: center;
  object-position: center;
}

.mobile-menu__body {
  width: 100%;
  margin-top: 1rem;
  padding-right: 8rem;
}

.mobile-menu__body>ul {
  list-style: none;
  padding: 0;
}

.mobile-menu__body>ul>li {
  margin: 1rem 0;
}

.mobile-menu__body>ul>li>a {
  font-size: 2.25rem;
  line-height: 3.6405764747rem;
  color: #000;
  font-weight: bold;
  max-width: 100%;
  display: block;
  padding: 0.5rem;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  position: relative;
  -webkit-transition: color 300ms ease-out, -webkit-transform 600ms ease-out;
  transition: color 300ms ease-out, -webkit-transform 600ms ease-out;
  transition: color 300ms ease-out, transform 600ms ease-out;
  transition: color 300ms ease-out, transform 600ms ease-out, -webkit-transform 600ms ease-out;
}

.mobile-menu__body>ul>li>a:hover {
  color: #836000;
  -webkit-transform: translateX(1rem);
  -ms-transform: translateX(1rem);
  transform: translateX(1rem);
}

.mobile-menu__body>ul>li>a::before {
  position: absolute;
  content: "▶";
  font-size: 50%;
  left: -1rem;
}

.mobile-menu__submenu {
  list-style: none;
  padding: 0;
  margin-left: 6rem;
}

.mobile-menu__submenu-hidden {
  display: none;
}

.mobile-menu__submenu>li>a {
  font-size: 1.688rem;
  line-height: 2.4270509831rem;
  color: #000;
  max-width: 100%;
  display: block;
  padding: 0.5rem;
  position: relative;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  position: relative;
  -webkit-transition: color 300ms ease-out, -webkit-transform 600ms ease-out;
  transition: color 300ms ease-out, -webkit-transform 600ms ease-out;
  transition: color 300ms ease-out, transform 600ms ease-out;
  transition: color 300ms ease-out, transform 600ms ease-out, -webkit-transform 600ms ease-out;
}

.mobile-menu__submenu>li>a:hover {
  color: #836000;
  -webkit-transform: translateX(1rem);
  -ms-transform: translateX(1rem);
  transform: translateX(1rem);
}

.mobile-menu__submenu>li>a:hover::before {
  position: absolute;
  content: ">";
  font-size: 50%;
  font-weight: bold;
  left: -1rem;
}

.mobile-menu__open {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  background-color: rgba(0, 0, 0, 0.5);
}

.access-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #EDEAE1;
  border-radius: 100vw;
  padding-block: 3px;
}

.access-button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  color: #000;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 1px;
  padding-block: 1px;
  gap: 0.5rem;
}

.access-button a .access-button-text {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  color: #000;
  padding-left: 0.5rem;
}

.access-button a .access-button-icon {
  display: block;
  height: 100%;
  width: 2rem;
  aspect-ratio: 1/1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.access-button a .access-button-icon svg {
  color: #C0A65F;
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
  object-fit: scale-down;
  -o-object-position: center;
  object-position: center;
}

.access-button__signup {
  background-color: #000;
  color: white;
  padding-inline: 1rem;
  padding-block: 1rem;
}

.access-button__signup>a {
  color: inherit;
  font-weight: bold;
  padding: 0;
}

.access-button__signup>a>.access-button-text {
  padding: 0;
  color: inherit;
}

.burger-menu {
  height: 100%;
  /* aspect-ratio: 1/1; */
  padding-block: 0.25rem;
  cursor: pointer;
}

.burger-menu svg {
  color: #333;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}

.section-custom {
  width: 100%;
}

.section-custom__wrapper {
  width: 75rem;
  margin: 0 auto;
}

.section-custom__wrapper-style-1 {
  padding-top: 4rem;
}

.section-custom__title {
  font-family: "Abel Pro", sans-serif;
  font-weight: normal;
  font-size: 3rem;
  line-height: 4.2473392205rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.section-custom__subtitle {
  font-family: "Abel Pro", sans-serif;
  font-weight: normal;
  font-size: 2.625rem;
  line-height: 3.2943172011rem;
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 0.5rem;
}

.form h1 {
  font-family: "Abel Pro", sans-serif;
  font-size: 2.625rem;
  line-height: 2.625rem;
  text-align: left;
  font-weight: bold;
  margin-bottom: 2rem;
  width: 100%;
}

.form-button {
  margin-top: 2rem;
}

.form label {
  display: none;
}

.form input,
.form textarea {
  font-family: "Abel Pro", sans-serif;
  font-size: 1.25rem;
  line-height: 3rem;
  width: 100%;
  border: none;
  outline: none;
  padding-inline: 1rem;
}

.form button[type=submit] {
  background-color: transparent;
  text-transform: uppercase;
  font-size: 160%;
}

.puntos {
  width: 100%;
  min-height: 8rem;
  background-color: white;
  padding-block: 6rem;
}

.puntos__wrapper {
  width: min(100%, 75rem);
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-inline: 1rem;
}

.puntos__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-padding-end: 4rem;
  padding-inline-end: 4rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.puntos__info-wrapper {
  width: min(100%, 33rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.puntos__info-body p {
  font-family: "Abel Pro", sans-serif;
  font-size: 1.688rem;
  line-height: 2.4270509831rem;
  color: #000;
  text-align: left;
}

.puntos__info-footer {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin-top: 5rem;
}

.puntos__info-footer-svg {
  width: 100%;
  height: 6rem;
}

.puntos__info-footer-svg svg {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
  object-fit: scale-down;
  -o-object-position: center;
  object-position: center;
}

.puntos__fotos {
  width: min(40%, 400px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  row-gap: 1rem;
}

.puntos__fotos img {
  width: 100%;
}

.niveles {
  background-color: #EDE4CD;
  position: relative;
}

.niveles::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  height: 4rem;
  background-color: #D1D1D1;
  z-index: 0;
}

.niveles__wrapper {
  width: min(100%, 75rem);
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-block: 9.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.niveles__background-picture {
  position: absolute;
  bottom: 0;
  left: 3rem;
  z-index: 1;
}

.niveles__background-picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
  object-fit: scale-down;
  -o-object-position: center;
  object-position: center;
}

.niveles__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.niveles__content-header {
  width: 27rem;
  margin-right: 12rem;
}

.niveles__content-body {
  width: 27rem;
  margin-right: 12rem;
}

.niveles__content-body-text {
  font-family: "Abel Pro", sans-serif;
  font-size: 1.688rem;
  line-height: 2.4270509831rem;
  color: #000;
  text-align: left;
}

.niveles__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Abel Pro", sans-serif;
  color: #000;
  margin-top: 3rem;
  margin-right: 9rem;
  z-index: 1;
  gap: 0.5rem;
}

.niveles__item {
  width: 9rem;
  aspect-ratio: 1/1;
  list-style: none;
}

.niveles__item-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 100vw;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 1.5rem;
}

.niveles__item-from {
  font-size: 1.25rem;
  text-transform: lowercase;
  padding-bottom: 1rem;
}

.niveles__item-price {
  font-size: 3rem;
}

.niveles__item-currency {
  font-size: 1.25rem;
  font-size: bold;
}

.ventajas__wrapper {
  width: min(100%, 75rem);
  height: 100%;
  margin: 0 auto;
  position: relative;
  padding-block: 3rem;
}

.ventajas__wrapper-background-picture {
  position: absolute;
  inset: 8rem 0 0 0;
  z-index: -1;
}

.ventajas__wrapper-background-picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
  object-fit: scale-down;
  -o-object-position: center;
  object-position: center;
}

.ventajas__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding-block: 2rem;
  margin-top: 5rem;
}

.ventajas__items-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-block: 2rem;
  margin-top: 5rem;
}

.ventajas__item-2-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-block: 2rem;
  -webkit-padding-start: 12rem;
  padding-inline-start: 12rem;
  -webkit-padding-end: 8rem;
  padding-inline-end: 8rem;
}

.ventajas__item-2-row:nth-child(odd) {
  background-color: #EDE4CD;
}

.ventajas__item-2-row:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.ventajas__item-2-description {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 8rem;
}

.ventajas__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 13rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  max-height: 12rem;
  min-height: 12rem;
  height: 12rem;
}

.ventajas__item-index {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 8rem;
  -ms-flex-item-align: self-end;
  align-self: self-end;
  padding-bottom: 2rem;
  color: #000;
}

.ventajas__item-body {
  width: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.ventajas__item-body-icon {
  width: 100%;
  aspect-ratio: 1/1;
  margin-bottom: 1rem;
}

.ventajas__item-body-icon svg {
  color: #C0A65F;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
  object-fit: fill;
}

.ventajas__item-body-description {
  font-family: "Abel Pro", sans-serif;
  font-size: 1.25rem;
  line-height: 1.8202882373rem;
  color: #000;
}

.promociones__wrapper {
  width: min(100%, 75rem);
  height: 100%;
  margin: 0 auto;
  position: relative;
  padding-block: 3rem;
}

.promociones__items {
  padding-top: 3rem;
  padding-inline: 12rem;
  margin-top: 4rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 18rem), 1fr));
  grid-auto-rows: 1fr;
  gap: 6rem;
}

.promociones__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.promociones__item-img {
  width: 100%;
  aspect-ratio: 4/3;
  overflow: hidden;
  outline: 10px solid transparent;
  -webkit-transition: outline 500ms ease-out;
  transition: outline 500ms ease-out;
}

.promociones__item-img:hover {
  outline: 1rem solid #EDE4CD;
}

.promociones__item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.promociones__item-title {
  font-family: "Abel Pro", sans-serif;
  font-size: 3rem;
  line-height: 4.2473392205rem;
  font-weight: normal;
  color: #000;
  text-align: left;
  margin-top: 2rem;
}

.promociones__item-description {
  font-family: "Abel Pro", sans-serif;
  font-size: 1.5rem;
  line-height: 2.0225424859rem;
  font-weight: normal;
  color: #000;
  text-align: left;
  margin-top: 0.75rem;
}

.promociones__item-link {
  color: #C0A65F;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 2.0225424859rem;
  font-weight: normal;
  text-align: left;
  margin-top: 2.5rem;
}

.consigue-puntos {
  margin-top: 3rem;
}

.consigue-puntos__wrapper {
  width: min(100%, 75rem);
  height: 100%;
  margin: 0 auto;
  margin-top: 4rem;
  position: relative;
}

.consigue-puntos__panels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding-inline: 8rem;
  padding-block: 0;
}

.consigue-puntos__panel {
  width: 26rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative;
}

.consigue-puntos__picture {
  position: absolute;
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0;
  bottom: 0;
}

.consigue-puntos__picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.consigue-puntos__text p {
  font-size: 1.5rem;
  line-height: 2.0225424859rem;
  text-align: center;
  padding: 2rem 3rem;
}

.contacto {
  background-color: #D1D1D1;
  margin-bottom: 2rem;
  position: relative;
}

.contacto::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2rem;
  background-color: #aaa;
}

.contacto__in-page {
  background-color: #EDE4CD;
}

.contacto__in-page::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  background-color: none;
}

.contacto__wrapper {
  color: #000;
  width: min(100%, 75rem);
  height: 100%;
  margin: 0 auto;
  padding: 10rem 3rem 3rem 3rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 1rem;
}

.contacto__whatsapp {
  position: absolute;
  top: -1.5rem;
  right: 8rem;
  width: 3rem;
  aspect-ratio: 1/1;
  padding: 0;
  -webkit-transform: scale(1) translateX(0) translateY(0);
  -ms-transform: scale(1) translateX(0) translateY(0);
  transform: scale(1) translateX(0) translateY(0);
  -webkit-transition: -webkit-transform 300ms ease, -webkit-filter 300ms ease;
  transition: -webkit-transform 300ms ease, -webkit-filter 300ms ease;
  transition: transform 300ms ease, filter 300ms ease;
  transition: transform 300ms ease, filter 300ms ease, -webkit-transform 300ms ease, -webkit-filter 300ms ease;
  -webkit-filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
  z-index: 100;
}

.contacto__whatsapp:hover {
  -webkit-transform: scale(1.5) translateX(5px) translateY(-5px);
  -ms-transform: scale(1.5) translateX(5px) translateY(-5px);
  transform: scale(1.5) translateX(5px) translateY(-5px);
  -webkit-filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.3));
}

.contacto__whatsapp svg {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
  object-fit: scale-down;
  -o-object-position: center;
  object-position: center;
}

.contacto__form {
  width: min(500px, 100%);
}

.contacto__form h1 {
  font-family: "Abel Pro", sans-serif;
  font-size: 2.625rem;
  line-height: 2.625rem;
  text-align: left;
  font-weight: bold;
  margin-bottom: 2rem;
  width: 100%;
}

.contacto__form-button {
  margin-top: 2rem;
}

.contacto__info {
  width: min(400px, 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 3rem;
}

.contacto__info-firma svg {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
  object-fit: scale-down;
  -o-object-position: center;
  object-position: center;
}

.contacto__info-links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 2rem;
  padding-inline: 2rem;
}

.contacto__info-links a,
.contacto__info-links p {
  width: 100%;
  font-family: "Abel Pro", sans-serif;
  font-size: 1.5rem;
  line-height: 2.0225424859rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.footer {
  width: 100%;
  color: white;
  background-color: #000;
}

.footer__wrapper {
  color: inherit;
  margin: 0 auto;
  width: min(100%, 75rem);
  height: 100%;
  padding: 4rem 3rem 2rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 3rem;
}

.footer__firma {
  width: min(400px, 100%);
  margin: 0 auto;
}

.footer__links ul {
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 768px) {

  /* Contenedor general (ej: hero) donde va la imagen de la mujer y el título */
  .hero__content {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 15%;
    /* justify-content: space-between; */
  }

  .hero__content-logo {
    padding-top: 5% !important;
  }

  .hero__content-text {
    padding-top: 10% !important;
    line-height: 1.0;
  }

  /* Imagen de la mujer */
  .hero__woman img {
    display: none;
  }

  /* Texto / Título */
  .hero__container .hero__context-text {
    width: 50%;
    padding: 1rem;
    /* Espaciado interno para el texto */
    box-sizing: border-box;
    /* Ajusta tipografías a un tamaño legible */
    font-size: 1rem;
    line-height: 1.4;
  }

  /* Sección donde irá la imagen de WhatsApp y el hombre */
  .hero__man {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    /* Separación de la sección anterior */
    margin-right: -120px !important;
    left: 65% !important;
  }

  .hero__whatsapp {
    width: 10%;
    right: 17em !important;
  }

  .hero__barra {
    display: flex;
  }

  .hero__cta {
    margin-top: 0 !important;

    a {
      font-size: 14px !important;
    }
  }

  .hero__barra-firma svg {
    margin-left: 10% !important;
    /* width: 50%; */
  }

  /* Ajuste adicional de tipografías y espaciados 
     (opcional, si quieres afinar aún más la legibilidad) */
  h1,
  h2,
  h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }



  .niveles__content-header {
    width: auto;
    margin-right: auto;
  }

  .niveles__content-body {
    width: auto;
    margin-right: auto;
  }


  .niveles__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: "Abel Pro", sans-serif;
    color: #000;
    margin-top: 0rem;
    margin-right: 9rem;
    z-index: 1;
    gap: 0.5rem;
  }

  .niveles__item {
    width: 9rem;
    aspect-ratio: 1/1;
    list-style: none;
  }

  .niveles__item-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 100vw;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 1.5rem;
  }

  .niveles__background-picture {
    top: 75% !important;
    left: 10rem;
  }

  .niveles__items {
    display: none;
  }

  .promociones__items {
    padding-inline: 2rem !important;
  }

  .contacto__whatsapp {
    right: 0rem !important;
    height: 50px !important;
  }

  .header__wrapper {
    flex-wrap: nowrap !important;
  }


  .ventajas__items {
    padding-left: 20%;
    flex-direction: column;
  }
}