@use '../../core/fonts';
@use '../../core/colors';
@use '../../abstracts/variables';
@use '../../core/bp';
@use './puntos_variables' as puntos;

.puntos-cupones {
    width: 100%;
    min-height: 8rem;
    background-color: puntos.$bg;
    padding-block: 6rem;

    &__wrapper {
        width: min(100%, variables.$default-width);
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    
    &__cupon{
        display: flex;
        flex-direction: column;

        &-example{
            width: 100%;
            
            img{
                width: 100%;
                object-fit: fill;
                object-position: center;
            }
        }
        &-description{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            &-text{
                flex:1;
            }
            &-picture{
                width: 12rem;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
    
            }
        }
    }

}
