$c-00: hsl(0, 0%, 0%);
$c-01: hsl(0, 0%, 1%);
$c-02: hsl(0, 0%, 2%);
$c-03: hsl(0, 0%, 3%);
$c-04: hsl(0, 0%, 4%);
$c-05: hsl(0, 0%, 5%);
$c-06: hsl(0, 0%, 6%);
$c-07: hsl(0, 0%, 7%);
$c-08: hsl(0, 0%, 8%);
$c-09: hsl(0, 0%, 9%);
$c-10: hsl(0, 0%, 10%);
$c-11: hsl(0, 0%, 11%);
$c-12: hsl(0, 0%, 12%);
$c-13: hsl(0, 0%, 13%);
$c-14: hsl(0, 0%, 14%);
$c-15: hsl(0, 0%, 15%);
$c-16: hsl(0, 0%, 16%);
$c-17: hsl(0, 0%, 17%);
$c-18: hsl(0, 0%, 18%);
$c-19: hsl(0, 0%, 19%);
$c-20: hsl(0, 0%, 20%);
$c-21: hsl(0, 0%, 21%);
$c-22: hsl(0, 0%, 22%);
$c-23: hsl(0, 0%, 23%);
$c-24: hsl(0, 0%, 24%);
$c-25: hsl(0, 0%, 25%);
$c-26: hsl(0, 0%, 26%);
$c-27: hsl(0, 0%, 27%);
$c-28: hsl(0, 0%, 28%);
$c-29: hsl(0, 0%, 29%);
$c-30: hsl(0, 0%, 30%);
$c-31: hsl(0, 0%, 31%);
$c-32: hsl(0, 0%, 32%);
$c-33: hsl(0, 0%, 33%);
$c-34: hsl(0, 0%, 34%);
$c-35: hsl(0, 0%, 35%);
$c-36: hsl(0, 0%, 36%);
$c-37: hsl(0, 0%, 37%);
$c-38: hsl(0, 0%, 38%);
$c-39: hsl(0, 0%, 39%);
$c-40: hsl(0, 0%, 40%);
$c-41: hsl(0, 0%, 41%);
$c-42: hsl(0, 0%, 42%);
$c-43: hsl(0, 0%, 43%);
$c-44: hsl(0, 0%, 44%);
$c-45: hsl(0, 0%, 45%);
$c-46: hsl(0, 0%, 46%);
$c-47: hsl(0, 0%, 47%);
$c-48: hsl(0, 0%, 48%);
$c-49: hsl(0, 0%, 49%);
$c-50: hsl(0, 0%, 50%);
$c-51: hsl(0, 0%, 51%);
$c-52: hsl(0, 0%, 52%);
$c-53: hsl(0, 0%, 53%);
$c-54: hsl(0, 0%, 54%);
$c-55: hsl(0, 0%, 55%);
$c-56: hsl(0, 0%, 56%);
$c-57: hsl(0, 0%, 57%);
$c-58: hsl(0, 0%, 58%);
$c-59: hsl(0, 0%, 59%);
$c-60: hsl(0, 0%, 60%);
$c-61: hsl(0, 0%, 61%);
$c-62: hsl(0, 0%, 62%);
$c-63: hsl(0, 0%, 63%);
$c-64: hsl(0, 0%, 64%);
$c-65: hsl(0, 0%, 65%);
$c-66: hsl(0, 0%, 66%);
$c-67: hsl(0, 0%, 67%);
$c-68: hsl(0, 0%, 68%);
$c-69: hsl(0, 0%, 69%);
$c-70: hsl(0, 0%, 70%);
$c-71: hsl(0, 0%, 71%);
$c-72: hsl(0, 0%, 72%);
$c-73: hsl(0, 0%, 73%);
$c-74: hsl(0, 0%, 74%);
$c-75: hsl(0, 0%, 75%);
$c-76: hsl(0, 0%, 76%);
$c-77: hsl(0, 0%, 77%);
$c-78: hsl(0, 0%, 78%);
$c-79: hsl(0, 0%, 79%);
$c-80: hsl(0, 0%, 80%);
$c-81: hsl(0, 0%, 81%);
$c-82: hsl(0, 0%, 82%);
$c-83: hsl(0, 0%, 83%);
$c-84: hsl(0, 0%, 84%);
$c-85: hsl(0, 0%, 85%);
$c-86: hsl(0, 0%, 86%);
$c-87: hsl(0, 0%, 87%);
$c-88: hsl(0, 0%, 88%);
$c-89: hsl(0, 0%, 89%);
$c-90: hsl(0, 0%, 90%);
$c-91: hsl(0, 0%, 91%);
$c-92: hsl(0, 0%, 92%);
$c-93: hsl(0, 0%, 93%);
$c-94: hsl(0, 0%, 94%);
$c-95: hsl(0, 0%, 95%);
$c-96: hsl(0, 0%, 96%);
$c-97: hsl(0, 0%, 97%);
$c-98: hsl(0, 0%, 98%);
$c-99: hsl(0, 0%, 99%);
$c-100: hsl(0, 0%, 100%);
