// -- start: $cPrimary -----------
$cPrimary: hsl(208, 55%, 44%);

// Colores claros --------------
$cPrimary01: hsl(208, 55%, 45%);
$cPrimary02: hsl(208, 55%, 46%);
$cPrimary03: hsl(208, 55%, 47%);
$cPrimary04: hsl(208, 55%, 48%);
$cPrimary05: hsl(208, 55%, 49%);
$cPrimary06: hsl(208, 55%, 50%);
$cPrimary07: hsl(208, 55%, 51%);
$cPrimary08: hsl(208, 55%, 52%);
$cPrimary09: hsl(208, 55%, 53%);
$cPrimary10: hsl(208, 55%, 54%);
$cPrimary11: hsl(208, 55%, 55%);
$cPrimary12: hsl(208, 55%, 56%);
$cPrimary13: hsl(208, 55%, 57%);
$cPrimary14: hsl(208, 55%, 58%);
$cPrimary15: hsl(208, 55%, 59%);
$cPrimary16: hsl(208, 55%, 60%);
$cPrimary17: hsl(208, 55%, 61%);
$cPrimary18: hsl(208, 55%, 62%);
$cPrimary19: hsl(208, 55%, 63%);
$cPrimary20: hsl(208, 55%, 64%);
$cPrimary21: hsl(208, 55%, 65%);
$cPrimary22: hsl(208, 55%, 66%);
$cPrimary23: hsl(208, 55%, 67%);
$cPrimary24: hsl(208, 55%, 68%);
$cPrimary25: hsl(208, 55%, 69%);
$cPrimary26: hsl(208, 55%, 70%);
$cPrimary27: hsl(208, 55%, 71%);
$cPrimary28: hsl(208, 55%, 72%);
$cPrimary29: hsl(208, 55%, 73%);
$cPrimary30: hsl(208, 55%, 74%);
$cPrimary31: hsl(208, 55%, 75%);
$cPrimary32: hsl(208, 55%, 76%);
$cPrimary33: hsl(208, 55%, 77%);
$cPrimary34: hsl(208, 55%, 78%);
$cPrimary35: hsl(208, 55%, 79%);
$cPrimary36: hsl(208, 55%, 80%);
$cPrimary37: hsl(208, 55%, 81%);
$cPrimary38: hsl(208, 55%, 82%);
$cPrimary39: hsl(208, 55%, 83%);
$cPrimary40: hsl(208, 55%, 84%);
$cPrimary41: hsl(208, 55%, 85%);
$cPrimary42: hsl(208, 55%, 86%);
$cPrimary43: hsl(208, 55%, 87%);
$cPrimary44: hsl(208, 55%, 88%);
$cPrimary45: hsl(208, 55%, 89%);
$cPrimary46: hsl(208, 55%, 90%);
$cPrimary47: hsl(208, 55%, 91%);
$cPrimary48: hsl(208, 55%, 92%);
$cPrimary49: hsl(208, 55%, 93%);
$cPrimary50: hsl(208, 55%, 94%);
$cPrimary51: hsl(208, 55%, 95%);
$cPrimary52: hsl(208, 55%, 96%);
$cPrimary53: hsl(208, 55%, 97%);
$cPrimary54: hsl(208, 55%, 98%);
$cPrimary55: hsl(208, 55%, 99%);
$cPrimary56: hsl(208, 55%, 99%);
$cPrimary57: hsl(208, 55%, 99%);
$cPrimary58: hsl(208, 55%, 99%);
$cPrimary59: hsl(208, 55%, 99%);
$cPrimary60: hsl(208, 55%, 99%);
$cPrimary61: hsl(208, 55%, 99%);
$cPrimary62: hsl(208, 55%, 99%);
$cPrimary63: hsl(208, 55%, 99%);
$cPrimary64: hsl(208, 55%, 99%);
$cPrimary65: hsl(208, 55%, 99%);
$cPrimary66: hsl(208, 55%, 99%);
$cPrimary67: hsl(208, 55%, 99%);
$cPrimary68: hsl(208, 55%, 99%);
$cPrimary69: hsl(208, 55%, 99%);
$cPrimary70: hsl(208, 55%, 99%);
$cPrimary71: hsl(208, 55%, 99%);
$cPrimary72: hsl(208, 55%, 99%);
$cPrimary73: hsl(208, 55%, 99%);
$cPrimary74: hsl(208, 55%, 99%);
$cPrimary75: hsl(208, 55%, 99%);
$cPrimary76: hsl(208, 55%, 99%);
$cPrimary77: hsl(208, 55%, 99%);
$cPrimary78: hsl(208, 55%, 99%);
$cPrimary79: hsl(208, 55%, 99%);
$cPrimary80: hsl(208, 55%, 99%);
$cPrimary81: hsl(208, 55%, 99%);
$cPrimary82: hsl(208, 55%, 99%);
$cPrimary83: hsl(208, 55%, 99%);
$cPrimary84: hsl(208, 55%, 99%);
$cPrimary85: hsl(208, 55%, 99%);
$cPrimary86: hsl(208, 55%, 99%);
$cPrimary87: hsl(208, 55%, 99%);
$cPrimary88: hsl(208, 55%, 99%);
$cPrimary89: hsl(208, 55%, 99%);
$cPrimary90: hsl(208, 55%, 99%);
$cPrimary91: hsl(208, 55%, 99%);
$cPrimary92: hsl(208, 55%, 99%);
$cPrimary93: hsl(208, 55%, 99%);
$cPrimary94: hsl(208, 55%, 99%);
$cPrimary95: hsl(208, 55%, 99%);
$cPrimary96: hsl(208, 55%, 99%);
$cPrimary97: hsl(208, 55%, 99%);
$cPrimary98: hsl(208, 55%, 99%);
$cPrimary99: hsl(208, 55%, 99%);

// Colores oscuros --------------
$cPrimary-01: hsl(208, 55%, 43%);
$cPrimary-02: hsl(208, 55%, 42%);
$cPrimary-03: hsl(208, 55%, 41%);
$cPrimary-04: hsl(208, 55%, 40%);
$cPrimary-05: hsl(208, 55%, 39%);
$cPrimary-06: hsl(208, 55%, 38%);
$cPrimary-07: hsl(208, 55%, 37%);
$cPrimary-08: hsl(208, 55%, 36%);
$cPrimary-09: hsl(208, 55%, 35%);
$cPrimary-10: hsl(208, 55%, 34%);
$cPrimary-11: hsl(208, 55%, 33%);
$cPrimary-12: hsl(208, 55%, 32%);
$cPrimary-13: hsl(208, 55%, 31%);
$cPrimary-14: hsl(208, 55%, 30%);
$cPrimary-15: hsl(208, 55%, 29%);
$cPrimary-16: hsl(208, 55%, 28%);
$cPrimary-17: hsl(208, 55%, 27%);
$cPrimary-18: hsl(208, 55%, 26%);
$cPrimary-19: hsl(208, 55%, 25%);
$cPrimary-20: hsl(208, 55%, 24%);
$cPrimary-21: hsl(208, 55%, 23%);
$cPrimary-22: hsl(208, 55%, 22%);
$cPrimary-23: hsl(208, 55%, 21%);
$cPrimary-24: hsl(208, 55%, 20%);
$cPrimary-25: hsl(208, 55%, 19%);
$cPrimary-26: hsl(208, 55%, 18%);
$cPrimary-27: hsl(208, 55%, 17%);
$cPrimary-28: hsl(208, 55%, 16%);
$cPrimary-29: hsl(208, 55%, 15%);
$cPrimary-30: hsl(208, 55%, 14%);
$cPrimary-31: hsl(208, 55%, 13%);
$cPrimary-32: hsl(208, 55%, 12%);
$cPrimary-33: hsl(208, 55%, 11%);
$cPrimary-34: hsl(208, 55%, 10%);
$cPrimary-35: hsl(208, 55%, 09%);
$cPrimary-36: hsl(208, 55%, 08%);
$cPrimary-37: hsl(208, 55%, 07%);
$cPrimary-38: hsl(208, 55%, 06%);
$cPrimary-39: hsl(208, 55%, 05%);
$cPrimary-40: hsl(208, 55%, 04%);
$cPrimary-41: hsl(208, 55%, 03%);
$cPrimary-42: hsl(208, 55%, 02%);
$cPrimary-43: hsl(208, 55%, 01%);
$cPrimary-44: hsl(208, 55%, 00%);
$cPrimary-45: hsl(208, 55%, 00%);
$cPrimary-46: hsl(208, 55%, 00%);
$cPrimary-47: hsl(208, 55%, 00%);
$cPrimary-48: hsl(208, 55%, 00%);
$cPrimary-49: hsl(208, 55%, 00%);
$cPrimary-50: hsl(208, 55%, 00%);
$cPrimary-51: hsl(208, 55%, 00%);
$cPrimary-52: hsl(208, 55%, 00%);
$cPrimary-53: hsl(208, 55%, 00%);
$cPrimary-54: hsl(208, 55%, 00%);
$cPrimary-55: hsl(208, 55%, 00%);
$cPrimary-56: hsl(208, 55%, 00%);
$cPrimary-57: hsl(208, 55%, 00%);
$cPrimary-58: hsl(208, 55%, 00%);
$cPrimary-59: hsl(208, 55%, 00%);
$cPrimary-60: hsl(208, 55%, 00%);
$cPrimary-61: hsl(208, 55%, 00%);
$cPrimary-62: hsl(208, 55%, 00%);
$cPrimary-63: hsl(208, 55%, 00%);
$cPrimary-64: hsl(208, 55%, 00%);
$cPrimary-65: hsl(208, 55%, 00%);
$cPrimary-66: hsl(208, 55%, 00%);
$cPrimary-67: hsl(208, 55%, 00%);
$cPrimary-68: hsl(208, 55%, 00%);
$cPrimary-69: hsl(208, 55%, 00%);
$cPrimary-70: hsl(208, 55%, 00%);
$cPrimary-71: hsl(208, 55%, 00%);
$cPrimary-72: hsl(208, 55%, 00%);
$cPrimary-73: hsl(208, 55%, 00%);
$cPrimary-74: hsl(208, 55%, 00%);
$cPrimary-75: hsl(208, 55%, 00%);
$cPrimary-76: hsl(208, 55%, 00%);
$cPrimary-77: hsl(208, 55%, 00%);
$cPrimary-78: hsl(208, 55%, 00%);
$cPrimary-79: hsl(208, 55%, 00%);
$cPrimary-80: hsl(208, 55%, 00%);
$cPrimary-81: hsl(208, 55%, 00%);
$cPrimary-82: hsl(208, 55%, 00%);
$cPrimary-83: hsl(208, 55%, 00%);
$cPrimary-84: hsl(208, 55%, 00%);
$cPrimary-85: hsl(208, 55%, 00%);
$cPrimary-86: hsl(208, 55%, 00%);
$cPrimary-87: hsl(208, 55%, 00%);
$cPrimary-88: hsl(208, 55%, 00%);
$cPrimary-89: hsl(208, 55%, 00%);
$cPrimary-90: hsl(208, 55%, 00%);
$cPrimary-91: hsl(208, 55%, 00%);
$cPrimary-92: hsl(208, 55%, 00%);
$cPrimary-93: hsl(208, 55%, 00%);
$cPrimary-94: hsl(208, 55%, 00%);
$cPrimary-95: hsl(208, 55%, 00%);
$cPrimary-96: hsl(208, 55%, 00%);
$cPrimary-97: hsl(208, 55%, 00%);
$cPrimary-98: hsl(208, 55%, 00%);
$cPrimary-99: hsl(208, 55%, 00%);

// Colores más saturados --------------
$cPrimaryS01: hsl(208, 56%, 44%);
$cPrimaryS02: hsl(208, 57%, 44%);
$cPrimaryS03: hsl(208, 58%, 44%);
$cPrimaryS04: hsl(208, 59%, 44%);
$cPrimaryS05: hsl(208, 60%, 44%);
$cPrimaryS06: hsl(208, 61%, 44%);
$cPrimaryS07: hsl(208, 62%, 44%);
$cPrimaryS08: hsl(208, 63%, 44%);
$cPrimaryS09: hsl(208, 64%, 44%);
$cPrimaryS10: hsl(208, 65%, 44%);
$cPrimaryS11: hsl(208, 66%, 44%);
$cPrimaryS12: hsl(208, 67%, 44%);
$cPrimaryS13: hsl(208, 68%, 44%);
$cPrimaryS14: hsl(208, 69%, 44%);
$cPrimaryS15: hsl(208, 70%, 44%);
$cPrimaryS16: hsl(208, 71%, 44%);
$cPrimaryS17: hsl(208, 72%, 44%);
$cPrimaryS18: hsl(208, 73%, 44%);
$cPrimaryS19: hsl(208, 74%, 44%);
$cPrimaryS20: hsl(208, 75%, 44%);
$cPrimaryS21: hsl(208, 76%, 44%);
$cPrimaryS22: hsl(208, 77%, 44%);
$cPrimaryS23: hsl(208, 78%, 44%);
$cPrimaryS24: hsl(208, 79%, 44%);
$cPrimaryS25: hsl(208, 80%, 44%);
$cPrimaryS26: hsl(208, 81%, 44%);
$cPrimaryS27: hsl(208, 82%, 44%);
$cPrimaryS28: hsl(208, 83%, 44%);
$cPrimaryS29: hsl(208, 84%, 44%);
$cPrimaryS30: hsl(208, 85%, 44%);
$cPrimaryS31: hsl(208, 86%, 44%);
$cPrimaryS32: hsl(208, 87%, 44%);
$cPrimaryS33: hsl(208, 88%, 44%);
$cPrimaryS34: hsl(208, 89%, 44%);
$cPrimaryS35: hsl(208, 90%, 44%);
$cPrimaryS36: hsl(208, 91%, 44%);
$cPrimaryS37: hsl(208, 92%, 44%);
$cPrimaryS38: hsl(208, 93%, 44%);
$cPrimaryS39: hsl(208, 94%, 44%);
$cPrimaryS40: hsl(208, 95%, 44%);
$cPrimaryS41: hsl(208, 96%, 44%);
$cPrimaryS42: hsl(208, 97%, 44%);
$cPrimaryS43: hsl(208, 98%, 44%);
$cPrimaryS44: hsl(208, 99%, 44%);
$cPrimaryS45: hsl(208, 100%, 44%);
$cPrimaryS46: hsl(208, 100%, 44%);
$cPrimaryS47: hsl(208, 100%, 44%);
$cPrimaryS48: hsl(208, 100%, 44%);
$cPrimaryS49: hsl(208, 100%, 44%);
$cPrimaryS50: hsl(208, 100%, 44%);
$cPrimaryS51: hsl(208, 100%, 44%);
$cPrimaryS52: hsl(208, 100%, 44%);
$cPrimaryS53: hsl(208, 100%, 44%);
$cPrimaryS54: hsl(208, 100%, 44%);
$cPrimaryS55: hsl(208, 100%, 44%);
$cPrimaryS56: hsl(208, 100%, 44%);
$cPrimaryS57: hsl(208, 100%, 44%);
$cPrimaryS58: hsl(208, 100%, 44%);
$cPrimaryS59: hsl(208, 100%, 44%);
$cPrimaryS60: hsl(208, 100%, 44%);
$cPrimaryS61: hsl(208, 100%, 44%);
$cPrimaryS62: hsl(208, 100%, 44%);
$cPrimaryS63: hsl(208, 100%, 44%);
$cPrimaryS64: hsl(208, 100%, 44%);
$cPrimaryS65: hsl(208, 100%, 44%);
$cPrimaryS66: hsl(208, 100%, 44%);
$cPrimaryS67: hsl(208, 100%, 44%);
$cPrimaryS68: hsl(208, 100%, 44%);
$cPrimaryS69: hsl(208, 100%, 44%);
$cPrimaryS70: hsl(208, 100%, 44%);
$cPrimaryS71: hsl(208, 100%, 44%);
$cPrimaryS72: hsl(208, 100%, 44%);
$cPrimaryS73: hsl(208, 100%, 44%);
$cPrimaryS74: hsl(208, 100%, 44%);
$cPrimaryS75: hsl(208, 100%, 44%);
$cPrimaryS76: hsl(208, 100%, 44%);
$cPrimaryS77: hsl(208, 100%, 44%);
$cPrimaryS78: hsl(208, 100%, 44%);
$cPrimaryS79: hsl(208, 100%, 44%);
$cPrimaryS80: hsl(208, 100%, 44%);
$cPrimaryS81: hsl(208, 100%, 44%);
$cPrimaryS82: hsl(208, 100%, 44%);
$cPrimaryS83: hsl(208, 100%, 44%);
$cPrimaryS84: hsl(208, 100%, 44%);
$cPrimaryS85: hsl(208, 100%, 44%);
$cPrimaryS86: hsl(208, 100%, 44%);
$cPrimaryS87: hsl(208, 100%, 44%);
$cPrimaryS88: hsl(208, 100%, 44%);
$cPrimaryS89: hsl(208, 100%, 44%);
$cPrimaryS90: hsl(208, 100%, 44%);
$cPrimaryS91: hsl(208, 100%, 44%);
$cPrimaryS92: hsl(208, 100%, 44%);
$cPrimaryS93: hsl(208, 100%, 44%);
$cPrimaryS94: hsl(208, 100%, 44%);
$cPrimaryS95: hsl(208, 100%, 44%);
$cPrimaryS96: hsl(208, 100%, 44%);
$cPrimaryS97: hsl(208, 100%, 44%);
$cPrimaryS98: hsl(208, 100%, 44%);
$cPrimaryS99: hsl(208, 100%, 44%);
$cPrimaryS100: hsl(208, 100%, 44%);

// Colores menos saturados --------------
$cPrimaryS-01: hsl(208, 54%, 44%);
$cPrimaryS-02: hsl(208, 53%, 44%);
$cPrimaryS-03: hsl(208, 52%, 44%);
$cPrimaryS-04: hsl(208, 51%, 44%);
$cPrimaryS-05: hsl(208, 50%, 44%);
$cPrimaryS-06: hsl(208, 49%, 44%);
$cPrimaryS-07: hsl(208, 48%, 44%);
$cPrimaryS-08: hsl(208, 47%, 44%);
$cPrimaryS-09: hsl(208, 46%, 44%);
$cPrimaryS-10: hsl(208, 45%, 44%);
$cPrimaryS-11: hsl(208, 44%, 44%);
$cPrimaryS-12: hsl(208, 43%, 44%);
$cPrimaryS-13: hsl(208, 42%, 44%);
$cPrimaryS-14: hsl(208, 41%, 44%);
$cPrimaryS-15: hsl(208, 40%, 44%);
$cPrimaryS-16: hsl(208, 39%, 44%);
$cPrimaryS-17: hsl(208, 38%, 44%);
$cPrimaryS-18: hsl(208, 37%, 44%);
$cPrimaryS-19: hsl(208, 36%, 44%);
$cPrimaryS-20: hsl(208, 35%, 44%);
$cPrimaryS-21: hsl(208, 34%, 44%);
$cPrimaryS-22: hsl(208, 33%, 44%);
$cPrimaryS-23: hsl(208, 32%, 44%);
$cPrimaryS-24: hsl(208, 31%, 44%);
$cPrimaryS-25: hsl(208, 30%, 44%);
$cPrimaryS-26: hsl(208, 29%, 44%);
$cPrimaryS-27: hsl(208, 28%, 44%);
$cPrimaryS-28: hsl(208, 27%, 44%);
$cPrimaryS-29: hsl(208, 26%, 44%);
$cPrimaryS-30: hsl(208, 25%, 44%);
$cPrimaryS-31: hsl(208, 24%, 44%);
$cPrimaryS-32: hsl(208, 23%, 44%);
$cPrimaryS-33: hsl(208, 22%, 44%);
$cPrimaryS-34: hsl(208, 21%, 44%);
$cPrimaryS-35: hsl(208, 20%, 44%);
$cPrimaryS-36: hsl(208, 19%, 44%);
$cPrimaryS-37: hsl(208, 18%, 44%);
$cPrimaryS-38: hsl(208, 17%, 44%);
$cPrimaryS-39: hsl(208, 16%, 44%);
$cPrimaryS-40: hsl(208, 15%, 44%);
$cPrimaryS-41: hsl(208, 14%, 44%);
$cPrimaryS-42: hsl(208, 13%, 44%);
$cPrimaryS-43: hsl(208, 12%, 44%);
$cPrimaryS-44: hsl(208, 11%, 44%);
$cPrimaryS-45: hsl(208, 10%, 44%);
$cPrimaryS-46: hsl(208, 09%, 44%);
$cPrimaryS-47: hsl(208, 08%, 44%);
$cPrimaryS-48: hsl(208, 07%, 44%);
$cPrimaryS-49: hsl(208, 06%, 44%);
$cPrimaryS-50: hsl(208, 05%, 44%);
$cPrimaryS-51: hsl(208, 04%, 44%);
$cPrimaryS-52: hsl(208, 03%, 44%);
$cPrimaryS-53: hsl(208, 02%, 44%);
$cPrimaryS-54: hsl(208, 01%, 44%);
$cPrimaryS-55: hsl(208, 00%, 44%);
$cPrimaryS-56: hsl(208, 00%, 44%);
$cPrimaryS-57: hsl(208, 00%, 44%);
$cPrimaryS-58: hsl(208, 00%, 44%);
$cPrimaryS-59: hsl(208, 00%, 44%);
$cPrimaryS-60: hsl(208, 00%, 44%);
$cPrimaryS-61: hsl(208, 00%, 44%);
$cPrimaryS-62: hsl(208, 00%, 44%);
$cPrimaryS-63: hsl(208, 00%, 44%);
$cPrimaryS-64: hsl(208, 00%, 44%);
$cPrimaryS-65: hsl(208, 00%, 44%);
$cPrimaryS-66: hsl(208, 00%, 44%);
$cPrimaryS-67: hsl(208, 00%, 44%);
$cPrimaryS-68: hsl(208, 00%, 44%);
$cPrimaryS-69: hsl(208, 00%, 44%);
$cPrimaryS-70: hsl(208, 00%, 44%);
$cPrimaryS-71: hsl(208, 00%, 44%);
$cPrimaryS-72: hsl(208, 00%, 44%);
$cPrimaryS-73: hsl(208, 00%, 44%);
$cPrimaryS-74: hsl(208, 00%, 44%);
$cPrimaryS-75: hsl(208, 00%, 44%);
$cPrimaryS-76: hsl(208, 00%, 44%);
$cPrimaryS-77: hsl(208, 00%, 44%);
$cPrimaryS-78: hsl(208, 00%, 44%);
$cPrimaryS-79: hsl(208, 00%, 44%);
$cPrimaryS-80: hsl(208, 00%, 44%);
$cPrimaryS-81: hsl(208, 00%, 44%);
$cPrimaryS-82: hsl(208, 00%, 44%);
$cPrimaryS-83: hsl(208, 00%, 44%);
$cPrimaryS-84: hsl(208, 00%, 44%);
$cPrimaryS-85: hsl(208, 00%, 44%);
$cPrimaryS-86: hsl(208, 00%, 44%);
$cPrimaryS-87: hsl(208, 00%, 44%);
$cPrimaryS-88: hsl(208, 00%, 44%);
$cPrimaryS-89: hsl(208, 00%, 44%);
$cPrimaryS-90: hsl(208, 00%, 44%);
$cPrimaryS-91: hsl(208, 00%, 44%);
$cPrimaryS-92: hsl(208, 00%, 44%);
$cPrimaryS-93: hsl(208, 00%, 44%);
$cPrimaryS-94: hsl(208, 00%, 44%);
$cPrimaryS-95: hsl(208, 00%, 44%);
$cPrimaryS-96: hsl(208, 00%, 44%);
$cPrimaryS-97: hsl(208, 00%, 44%);
$cPrimaryS-98: hsl(208, 00%, 44%);
$cPrimaryS-99: hsl(208, 00%, 44%);
$cPrimaryS-100: hsl(208, 00%, 44%);
// -- end: $cPrimary -----------
