// -- start: $cSecondary -----------
$cSecondary: hsl(15, 100%, 60%);

// Colores claros --------------
$cSecondary01: hsl(15, 100%, 61%);
$cSecondary02: hsl(15, 100%, 62%);
$cSecondary03: hsl(15, 100%, 63%);
$cSecondary04: hsl(15, 100%, 64%);
$cSecondary05: hsl(15, 100%, 65%);
$cSecondary06: hsl(15, 100%, 66%);
$cSecondary07: hsl(15, 100%, 67%);
$cSecondary08: hsl(15, 100%, 68%);
$cSecondary09: hsl(15, 100%, 69%);
$cSecondary10: hsl(15, 100%, 70%);
$cSecondary11: hsl(15, 100%, 71%);
$cSecondary12: hsl(15, 100%, 72%);
$cSecondary13: hsl(15, 100%, 73%);
$cSecondary14: hsl(15, 100%, 74%);
$cSecondary15: hsl(15, 100%, 75%);
$cSecondary16: hsl(15, 100%, 76%);
$cSecondary17: hsl(15, 100%, 77%);
$cSecondary18: hsl(15, 100%, 78%);
$cSecondary19: hsl(15, 100%, 79%);
$cSecondary20: hsl(15, 100%, 80%);
$cSecondary21: hsl(15, 100%, 81%);
$cSecondary22: hsl(15, 100%, 82%);
$cSecondary23: hsl(15, 100%, 83%);
$cSecondary24: hsl(15, 100%, 84%);
$cSecondary25: hsl(15, 100%, 85%);
$cSecondary26: hsl(15, 100%, 86%);
$cSecondary27: hsl(15, 100%, 87%);
$cSecondary28: hsl(15, 100%, 88%);
$cSecondary29: hsl(15, 100%, 89%);
$cSecondary30: hsl(15, 100%, 90%);
$cSecondary31: hsl(15, 100%, 91%);
$cSecondary32: hsl(15, 100%, 92%);
$cSecondary33: hsl(15, 100%, 93%);
$cSecondary34: hsl(15, 100%, 94%);
$cSecondary35: hsl(15, 100%, 95%);
$cSecondary36: hsl(15, 100%, 96%);
$cSecondary37: hsl(15, 100%, 97%);
$cSecondary38: hsl(15, 100%, 98%);
$cSecondary39: hsl(15, 100%, 99%);
$cSecondary40: hsl(15, 100%, 99%);
$cSecondary41: hsl(15, 100%, 99%);
$cSecondary42: hsl(15, 100%, 99%);
$cSecondary43: hsl(15, 100%, 99%);
$cSecondary44: hsl(15, 100%, 99%);
$cSecondary45: hsl(15, 100%, 99%);
$cSecondary46: hsl(15, 100%, 99%);
$cSecondary47: hsl(15, 100%, 99%);
$cSecondary48: hsl(15, 100%, 99%);
$cSecondary49: hsl(15, 100%, 99%);
$cSecondary50: hsl(15, 100%, 99%);
$cSecondary51: hsl(15, 100%, 99%);
$cSecondary52: hsl(15, 100%, 99%);
$cSecondary53: hsl(15, 100%, 99%);
$cSecondary54: hsl(15, 100%, 99%);
$cSecondary55: hsl(15, 100%, 99%);
$cSecondary56: hsl(15, 100%, 99%);
$cSecondary57: hsl(15, 100%, 99%);
$cSecondary58: hsl(15, 100%, 99%);
$cSecondary59: hsl(15, 100%, 99%);
$cSecondary60: hsl(15, 100%, 99%);
$cSecondary61: hsl(15, 100%, 99%);
$cSecondary62: hsl(15, 100%, 99%);
$cSecondary63: hsl(15, 100%, 99%);
$cSecondary64: hsl(15, 100%, 99%);
$cSecondary65: hsl(15, 100%, 99%);
$cSecondary66: hsl(15, 100%, 99%);
$cSecondary67: hsl(15, 100%, 99%);
$cSecondary68: hsl(15, 100%, 99%);
$cSecondary69: hsl(15, 100%, 99%);
$cSecondary70: hsl(15, 100%, 99%);
$cSecondary71: hsl(15, 100%, 99%);
$cSecondary72: hsl(15, 100%, 99%);
$cSecondary73: hsl(15, 100%, 99%);
$cSecondary74: hsl(15, 100%, 99%);
$cSecondary75: hsl(15, 100%, 99%);
$cSecondary76: hsl(15, 100%, 99%);
$cSecondary77: hsl(15, 100%, 99%);
$cSecondary78: hsl(15, 100%, 99%);
$cSecondary79: hsl(15, 100%, 99%);
$cSecondary80: hsl(15, 100%, 99%);
$cSecondary81: hsl(15, 100%, 99%);
$cSecondary82: hsl(15, 100%, 99%);
$cSecondary83: hsl(15, 100%, 99%);
$cSecondary84: hsl(15, 100%, 99%);
$cSecondary85: hsl(15, 100%, 99%);
$cSecondary86: hsl(15, 100%, 99%);
$cSecondary87: hsl(15, 100%, 99%);
$cSecondary88: hsl(15, 100%, 99%);
$cSecondary89: hsl(15, 100%, 99%);
$cSecondary90: hsl(15, 100%, 99%);
$cSecondary91: hsl(15, 100%, 99%);
$cSecondary92: hsl(15, 100%, 99%);
$cSecondary93: hsl(15, 100%, 99%);
$cSecondary94: hsl(15, 100%, 99%);
$cSecondary95: hsl(15, 100%, 99%);
$cSecondary96: hsl(15, 100%, 99%);
$cSecondary97: hsl(15, 100%, 99%);
$cSecondary98: hsl(15, 100%, 99%);
$cSecondary99: hsl(15, 100%, 99%);

// Colores oscuros --------------
$cSecondary-01: hsl(15, 100%, 59%);
$cSecondary-02: hsl(15, 100%, 58%);
$cSecondary-03: hsl(15, 100%, 57%);
$cSecondary-04: hsl(15, 100%, 56%);
$cSecondary-05: hsl(15, 100%, 55%);
$cSecondary-06: hsl(15, 100%, 54%);
$cSecondary-07: hsl(15, 100%, 53%);
$cSecondary-08: hsl(15, 100%, 52%);
$cSecondary-09: hsl(15, 100%, 51%);
$cSecondary-10: hsl(15, 100%, 50%);
$cSecondary-11: hsl(15, 100%, 49%);
$cSecondary-12: hsl(15, 100%, 48%);
$cSecondary-13: hsl(15, 100%, 47%);
$cSecondary-14: hsl(15, 100%, 46%);
$cSecondary-15: hsl(15, 100%, 45%);
$cSecondary-16: hsl(15, 100%, 44%);
$cSecondary-17: hsl(15, 100%, 43%);
$cSecondary-18: hsl(15, 100%, 42%);
$cSecondary-19: hsl(15, 100%, 41%);
$cSecondary-20: hsl(15, 100%, 40%);
$cSecondary-21: hsl(15, 100%, 39%);
$cSecondary-22: hsl(15, 100%, 38%);
$cSecondary-23: hsl(15, 100%, 37%);
$cSecondary-24: hsl(15, 100%, 36%);
$cSecondary-25: hsl(15, 100%, 35%);
$cSecondary-26: hsl(15, 100%, 34%);
$cSecondary-27: hsl(15, 100%, 33%);
$cSecondary-28: hsl(15, 100%, 32%);
$cSecondary-29: hsl(15, 100%, 31%);
$cSecondary-30: hsl(15, 100%, 30%);
$cSecondary-31: hsl(15, 100%, 29%);
$cSecondary-32: hsl(15, 100%, 28%);
$cSecondary-33: hsl(15, 100%, 27%);
$cSecondary-34: hsl(15, 100%, 26%);
$cSecondary-35: hsl(15, 100%, 25%);
$cSecondary-36: hsl(15, 100%, 24%);
$cSecondary-37: hsl(15, 100%, 23%);
$cSecondary-38: hsl(15, 100%, 22%);
$cSecondary-39: hsl(15, 100%, 21%);
$cSecondary-40: hsl(15, 100%, 20%);
$cSecondary-41: hsl(15, 100%, 19%);
$cSecondary-42: hsl(15, 100%, 18%);
$cSecondary-43: hsl(15, 100%, 17%);
$cSecondary-44: hsl(15, 100%, 16%);
$cSecondary-45: hsl(15, 100%, 15%);
$cSecondary-46: hsl(15, 100%, 14%);
$cSecondary-47: hsl(15, 100%, 13%);
$cSecondary-48: hsl(15, 100%, 12%);
$cSecondary-49: hsl(15, 100%, 11%);
$cSecondary-50: hsl(15, 100%, 10%);
$cSecondary-51: hsl(15, 100%, 09%);
$cSecondary-52: hsl(15, 100%, 08%);
$cSecondary-53: hsl(15, 100%, 07%);
$cSecondary-54: hsl(15, 100%, 06%);
$cSecondary-55: hsl(15, 100%, 05%);
$cSecondary-56: hsl(15, 100%, 04%);
$cSecondary-57: hsl(15, 100%, 03%);
$cSecondary-58: hsl(15, 100%, 02%);
$cSecondary-59: hsl(15, 100%, 01%);
$cSecondary-60: hsl(15, 100%, 00%);
$cSecondary-61: hsl(15, 100%, 00%);
$cSecondary-62: hsl(15, 100%, 00%);
$cSecondary-63: hsl(15, 100%, 00%);
$cSecondary-64: hsl(15, 100%, 00%);
$cSecondary-65: hsl(15, 100%, 00%);
$cSecondary-66: hsl(15, 100%, 00%);
$cSecondary-67: hsl(15, 100%, 00%);
$cSecondary-68: hsl(15, 100%, 00%);
$cSecondary-69: hsl(15, 100%, 00%);
$cSecondary-70: hsl(15, 100%, 00%);
$cSecondary-71: hsl(15, 100%, 00%);
$cSecondary-72: hsl(15, 100%, 00%);
$cSecondary-73: hsl(15, 100%, 00%);
$cSecondary-74: hsl(15, 100%, 00%);
$cSecondary-75: hsl(15, 100%, 00%);
$cSecondary-76: hsl(15, 100%, 00%);
$cSecondary-77: hsl(15, 100%, 00%);
$cSecondary-78: hsl(15, 100%, 00%);
$cSecondary-79: hsl(15, 100%, 00%);
$cSecondary-80: hsl(15, 100%, 00%);
$cSecondary-81: hsl(15, 100%, 00%);
$cSecondary-82: hsl(15, 100%, 00%);
$cSecondary-83: hsl(15, 100%, 00%);
$cSecondary-84: hsl(15, 100%, 00%);
$cSecondary-85: hsl(15, 100%, 00%);
$cSecondary-86: hsl(15, 100%, 00%);
$cSecondary-87: hsl(15, 100%, 00%);
$cSecondary-88: hsl(15, 100%, 00%);
$cSecondary-89: hsl(15, 100%, 00%);
$cSecondary-90: hsl(15, 100%, 00%);
$cSecondary-91: hsl(15, 100%, 00%);
$cSecondary-92: hsl(15, 100%, 00%);
$cSecondary-93: hsl(15, 100%, 00%);
$cSecondary-94: hsl(15, 100%, 00%);
$cSecondary-95: hsl(15, 100%, 00%);
$cSecondary-96: hsl(15, 100%, 00%);
$cSecondary-97: hsl(15, 100%, 00%);
$cSecondary-98: hsl(15, 100%, 00%);
$cSecondary-99: hsl(15, 100%, 00%);

// Colores más saturados --------------
$cSecondaryS01: hsl(15, 100%, 60%);
$cSecondaryS02: hsl(15, 100%, 60%);
$cSecondaryS03: hsl(15, 100%, 60%);
$cSecondaryS04: hsl(15, 100%, 60%);
$cSecondaryS05: hsl(15, 100%, 60%);
$cSecondaryS06: hsl(15, 100%, 60%);
$cSecondaryS07: hsl(15, 100%, 60%);
$cSecondaryS08: hsl(15, 100%, 60%);
$cSecondaryS09: hsl(15, 100%, 60%);
$cSecondaryS10: hsl(15, 100%, 60%);
$cSecondaryS11: hsl(15, 100%, 60%);
$cSecondaryS12: hsl(15, 100%, 60%);
$cSecondaryS13: hsl(15, 100%, 60%);
$cSecondaryS14: hsl(15, 100%, 60%);
$cSecondaryS15: hsl(15, 100%, 60%);
$cSecondaryS16: hsl(15, 100%, 60%);
$cSecondaryS17: hsl(15, 100%, 60%);
$cSecondaryS18: hsl(15, 100%, 60%);
$cSecondaryS19: hsl(15, 100%, 60%);
$cSecondaryS20: hsl(15, 100%, 60%);
$cSecondaryS21: hsl(15, 100%, 60%);
$cSecondaryS22: hsl(15, 100%, 60%);
$cSecondaryS23: hsl(15, 100%, 60%);
$cSecondaryS24: hsl(15, 100%, 60%);
$cSecondaryS25: hsl(15, 100%, 60%);
$cSecondaryS26: hsl(15, 100%, 60%);
$cSecondaryS27: hsl(15, 100%, 60%);
$cSecondaryS28: hsl(15, 100%, 60%);
$cSecondaryS29: hsl(15, 100%, 60%);
$cSecondaryS30: hsl(15, 100%, 60%);
$cSecondaryS31: hsl(15, 100%, 60%);
$cSecondaryS32: hsl(15, 100%, 60%);
$cSecondaryS33: hsl(15, 100%, 60%);
$cSecondaryS34: hsl(15, 100%, 60%);
$cSecondaryS35: hsl(15, 100%, 60%);
$cSecondaryS36: hsl(15, 100%, 60%);
$cSecondaryS37: hsl(15, 100%, 60%);
$cSecondaryS38: hsl(15, 100%, 60%);
$cSecondaryS39: hsl(15, 100%, 60%);
$cSecondaryS40: hsl(15, 100%, 60%);
$cSecondaryS41: hsl(15, 100%, 60%);
$cSecondaryS42: hsl(15, 100%, 60%);
$cSecondaryS43: hsl(15, 100%, 60%);
$cSecondaryS44: hsl(15, 100%, 60%);
$cSecondaryS45: hsl(15, 100%, 60%);
$cSecondaryS46: hsl(15, 100%, 60%);
$cSecondaryS47: hsl(15, 100%, 60%);
$cSecondaryS48: hsl(15, 100%, 60%);
$cSecondaryS49: hsl(15, 100%, 60%);
$cSecondaryS50: hsl(15, 100%, 60%);
$cSecondaryS51: hsl(15, 100%, 60%);
$cSecondaryS52: hsl(15, 100%, 60%);
$cSecondaryS53: hsl(15, 100%, 60%);
$cSecondaryS54: hsl(15, 100%, 60%);
$cSecondaryS55: hsl(15, 100%, 60%);
$cSecondaryS56: hsl(15, 100%, 60%);
$cSecondaryS57: hsl(15, 100%, 60%);
$cSecondaryS58: hsl(15, 100%, 60%);
$cSecondaryS59: hsl(15, 100%, 60%);
$cSecondaryS60: hsl(15, 100%, 60%);
$cSecondaryS61: hsl(15, 100%, 60%);
$cSecondaryS62: hsl(15, 100%, 60%);
$cSecondaryS63: hsl(15, 100%, 60%);
$cSecondaryS64: hsl(15, 100%, 60%);
$cSecondaryS65: hsl(15, 100%, 60%);
$cSecondaryS66: hsl(15, 100%, 60%);
$cSecondaryS67: hsl(15, 100%, 60%);
$cSecondaryS68: hsl(15, 100%, 60%);
$cSecondaryS69: hsl(15, 100%, 60%);
$cSecondaryS70: hsl(15, 100%, 60%);
$cSecondaryS71: hsl(15, 100%, 60%);
$cSecondaryS72: hsl(15, 100%, 60%);
$cSecondaryS73: hsl(15, 100%, 60%);
$cSecondaryS74: hsl(15, 100%, 60%);
$cSecondaryS75: hsl(15, 100%, 60%);
$cSecondaryS76: hsl(15, 100%, 60%);
$cSecondaryS77: hsl(15, 100%, 60%);
$cSecondaryS78: hsl(15, 100%, 60%);
$cSecondaryS79: hsl(15, 100%, 60%);
$cSecondaryS80: hsl(15, 100%, 60%);
$cSecondaryS81: hsl(15, 100%, 60%);
$cSecondaryS82: hsl(15, 100%, 60%);
$cSecondaryS83: hsl(15, 100%, 60%);
$cSecondaryS84: hsl(15, 100%, 60%);
$cSecondaryS85: hsl(15, 100%, 60%);
$cSecondaryS86: hsl(15, 100%, 60%);
$cSecondaryS87: hsl(15, 100%, 60%);
$cSecondaryS88: hsl(15, 100%, 60%);
$cSecondaryS89: hsl(15, 100%, 60%);
$cSecondaryS90: hsl(15, 100%, 60%);
$cSecondaryS91: hsl(15, 100%, 60%);
$cSecondaryS92: hsl(15, 100%, 60%);
$cSecondaryS93: hsl(15, 100%, 60%);
$cSecondaryS94: hsl(15, 100%, 60%);
$cSecondaryS95: hsl(15, 100%, 60%);
$cSecondaryS96: hsl(15, 100%, 60%);
$cSecondaryS97: hsl(15, 100%, 60%);
$cSecondaryS98: hsl(15, 100%, 60%);
$cSecondaryS99: hsl(15, 100%, 60%);
$cSecondaryS100: hsl(15, 100%, 60%);

// Colores menos saturados --------------
$cSecondaryS-01: hsl(15, 99%, 60%);
$cSecondaryS-02: hsl(15, 98%, 60%);
$cSecondaryS-03: hsl(15, 97%, 60%);
$cSecondaryS-04: hsl(15, 96%, 60%);
$cSecondaryS-05: hsl(15, 95%, 60%);
$cSecondaryS-06: hsl(15, 94%, 60%);
$cSecondaryS-07: hsl(15, 93%, 60%);
$cSecondaryS-08: hsl(15, 92%, 60%);
$cSecondaryS-09: hsl(15, 91%, 60%);
$cSecondaryS-10: hsl(15, 90%, 60%);
$cSecondaryS-11: hsl(15, 89%, 60%);
$cSecondaryS-12: hsl(15, 88%, 60%);
$cSecondaryS-13: hsl(15, 87%, 60%);
$cSecondaryS-14: hsl(15, 86%, 60%);
$cSecondaryS-15: hsl(15, 85%, 60%);
$cSecondaryS-16: hsl(15, 84%, 60%);
$cSecondaryS-17: hsl(15, 83%, 60%);
$cSecondaryS-18: hsl(15, 82%, 60%);
$cSecondaryS-19: hsl(15, 81%, 60%);
$cSecondaryS-20: hsl(15, 80%, 60%);
$cSecondaryS-21: hsl(15, 79%, 60%);
$cSecondaryS-22: hsl(15, 78%, 60%);
$cSecondaryS-23: hsl(15, 77%, 60%);
$cSecondaryS-24: hsl(15, 76%, 60%);
$cSecondaryS-25: hsl(15, 75%, 60%);
$cSecondaryS-26: hsl(15, 74%, 60%);
$cSecondaryS-27: hsl(15, 73%, 60%);
$cSecondaryS-28: hsl(15, 72%, 60%);
$cSecondaryS-29: hsl(15, 71%, 60%);
$cSecondaryS-30: hsl(15, 70%, 60%);
$cSecondaryS-31: hsl(15, 69%, 60%);
$cSecondaryS-32: hsl(15, 68%, 60%);
$cSecondaryS-33: hsl(15, 67%, 60%);
$cSecondaryS-34: hsl(15, 66%, 60%);
$cSecondaryS-35: hsl(15, 65%, 60%);
$cSecondaryS-36: hsl(15, 64%, 60%);
$cSecondaryS-37: hsl(15, 63%, 60%);
$cSecondaryS-38: hsl(15, 62%, 60%);
$cSecondaryS-39: hsl(15, 61%, 60%);
$cSecondaryS-40: hsl(15, 60%, 60%);
$cSecondaryS-41: hsl(15, 59%, 60%);
$cSecondaryS-42: hsl(15, 58%, 60%);
$cSecondaryS-43: hsl(15, 57%, 60%);
$cSecondaryS-44: hsl(15, 56%, 60%);
$cSecondaryS-45: hsl(15, 55%, 60%);
$cSecondaryS-46: hsl(15, 54%, 60%);
$cSecondaryS-47: hsl(15, 53%, 60%);
$cSecondaryS-48: hsl(15, 52%, 60%);
$cSecondaryS-49: hsl(15, 51%, 60%);
$cSecondaryS-50: hsl(15, 50%, 60%);
$cSecondaryS-51: hsl(15, 49%, 60%);
$cSecondaryS-52: hsl(15, 48%, 60%);
$cSecondaryS-53: hsl(15, 47%, 60%);
$cSecondaryS-54: hsl(15, 46%, 60%);
$cSecondaryS-55: hsl(15, 45%, 60%);
$cSecondaryS-56: hsl(15, 44%, 60%);
$cSecondaryS-57: hsl(15, 43%, 60%);
$cSecondaryS-58: hsl(15, 42%, 60%);
$cSecondaryS-59: hsl(15, 41%, 60%);
$cSecondaryS-60: hsl(15, 40%, 60%);
$cSecondaryS-61: hsl(15, 39%, 60%);
$cSecondaryS-62: hsl(15, 38%, 60%);
$cSecondaryS-63: hsl(15, 37%, 60%);
$cSecondaryS-64: hsl(15, 36%, 60%);
$cSecondaryS-65: hsl(15, 35%, 60%);
$cSecondaryS-66: hsl(15, 34%, 60%);
$cSecondaryS-67: hsl(15, 33%, 60%);
$cSecondaryS-68: hsl(15, 32%, 60%);
$cSecondaryS-69: hsl(15, 31%, 60%);
$cSecondaryS-70: hsl(15, 30%, 60%);
$cSecondaryS-71: hsl(15, 29%, 60%);
$cSecondaryS-72: hsl(15, 28%, 60%);
$cSecondaryS-73: hsl(15, 27%, 60%);
$cSecondaryS-74: hsl(15, 26%, 60%);
$cSecondaryS-75: hsl(15, 25%, 60%);
$cSecondaryS-76: hsl(15, 24%, 60%);
$cSecondaryS-77: hsl(15, 23%, 60%);
$cSecondaryS-78: hsl(15, 22%, 60%);
$cSecondaryS-79: hsl(15, 21%, 60%);
$cSecondaryS-80: hsl(15, 20%, 60%);
$cSecondaryS-81: hsl(15, 19%, 60%);
$cSecondaryS-82: hsl(15, 18%, 60%);
$cSecondaryS-83: hsl(15, 17%, 60%);
$cSecondaryS-84: hsl(15, 16%, 60%);
$cSecondaryS-85: hsl(15, 15%, 60%);
$cSecondaryS-86: hsl(15, 14%, 60%);
$cSecondaryS-87: hsl(15, 13%, 60%);
$cSecondaryS-88: hsl(15, 12%, 60%);
$cSecondaryS-89: hsl(15, 11%, 60%);
$cSecondaryS-90: hsl(15, 10%, 60%);
$cSecondaryS-91: hsl(15, 09%, 60%);
$cSecondaryS-92: hsl(15, 08%, 60%);
$cSecondaryS-93: hsl(15, 07%, 60%);
$cSecondaryS-94: hsl(15, 06%, 60%);
$cSecondaryS-95: hsl(15, 05%, 60%);
$cSecondaryS-96: hsl(15, 04%, 60%);
$cSecondaryS-97: hsl(15, 03%, 60%);
$cSecondaryS-98: hsl(15, 02%, 60%);
$cSecondaryS-99: hsl(15, 01%, 60%);
$cSecondaryS-100: hsl(15, 00%, 60%);
// -- end: $cSecondary -----------
