@use '../core/fonts';
@use '../core/colors';
@use '../core/bp';
@use 'sass:color';

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

body {
    box-sizing: border-box;
    display: flex;
    //overflow-y: auto;
    width: 100vw;
    min-height: 100dvh;

    flex-direction: column;
    flex: 1;
    margin: 0;
    padding: 0;
    font-family: fonts.$ff-primary;
    font-size: fonts.$fs-400;
    line-height: fonts.$lh-400;
    color: colors.$c-46;
    background-color: colors.$c-100;
}

p,
a {
    font-size: fonts.$fs-400;
    line-height: fonts.$lh-400;
    text-decoration: none;
    color: currentColor;
}
p {
    color: colors.$c-13;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: colors.$c-13;
    font-family: fonts.$ff-secondary;
}
h2 {
    font-size: fonts.$fs-800;
}
h4 {
    font-size: fonts.$fs-500;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1;
    text-transform: capitalize;
}
.hidden {
    display: none !important;
}


button {
    border: none;
    background-color: ghostwhite;
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 250ms ease-in;

    &:hover {
        background-color: color.adjust(ghostwhite, $lightness: -5%);
    }
}
